body{
    background-color: #000300;
}

.filetab{
    writing-mode:vertical-rl;
    transform: rotate(180deg);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor:default;
}