body{
    background-color: #000300;
}

.filetab{
    writing-mode:vertical-rl;
    transform: rotate(180deg);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor:default;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.glowborder{
    position: relative;
    background-color:transparent;

}


.glowborder::after, .glowborder::before{
    --angle: 0deg;
    content: '';
    position: absolute;
    border-radius: 10px;
    background: conic-gradient(from var(--angle) at -50% -50%, #00df9a,#C084FC, #00df9a);
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    animation: 10s spinning linear infinite;
    z-index: -1;
    background-color: white;
}

.glowborder::before{
    filter: blur(1.5rem);

}

@keyframes spinning {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}
